h1 {
    text-align: center;
    color: crimson;
    font-size: 60px;
}
h2 {
    text-align:center ;
    color: darkred;
    font-size: 40px;
}
h3{
    text-align: right;
    color: darkred;
    font-size: 40px;


}